body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 12px;

}
header{
    display:flex;
	align-items: center;
	justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
header img{
    width:20%;
}
main{
    border-bottom:1px solid #ccc;
}
.simpleJankenArea{
    display:flex;
	align-items: center;
	justify-content: center;
}
.simpleJankenArea div{
    width:15%;
}



/*********************
 * 結果記載エリア
 *********************/
 .resultArea{
    display:flex;
	align-items: center;
    justify-content: space-between;
}
.resultArea input{
    width:80px;
}

.myResultArea{
    width:20%;
}
.myResultTxtArea{
    text-align:left;
 }
.myResultNoArea{
   text-align:right;
   width:40px;
}

.resultGraph{
    display:flex;
	align-items: center;
    justify-content: center;
    /* width:100%; */
}
.resultGraphArea{
    /* width:100%; */
    text-align:center;
}

.yourResultArea{
    width:20%;
}
.yourResultNoArea{
    text-align:left;
    width:40px;
 }
.yourResultTxtArea{
    text-align:right;
}


footer{
    display:flex;
	align-items: center;
	justify-content: center;
    background-color: #fff;
    border-bottom:1px solid #ccc;
}
/* p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
} */
.mainBtn{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
.mainBtn li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

/****************************************
 * ランキングボタン
 ****************************************/
 .rankingSnd{
    text-align:center;
	margin: 120pxpx 0px 120px 0px; /* 上右下左 */
}
.rankingSndBtn {
	/* display: inline-block; */
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ffd61a;/*ボタン色*/
	color:black;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	height:50px;
	width:150px;
  }
.rankingSndBtn:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
	border-bottom: none;
  }

  .modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}