/****************************************
 *
 * ジャンケンゲームCSS
 *
 ****************************************/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;

	width: 960px;
	margin-left:auto;
	margin-right:auto;
}

/****************************************
 * 全ての要素に対して適用する
 * パディングをサイズ内側にする処理
 ****************************************/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/****************************************
 * flexboxデザインデバッグ
 * TODO もっといいやり方があるはず
 ****************************************/
 .fbxDbg{
	/* 箱の枠をつけることでflexboxの状態をわかりやすくする */
	/* 本番の際はこれらをコメントアウトすること			 */
	/* border:0.1px dotted; */
	/* margin: 5px; */
}


/****************************************
 * ヘッダー
 ****************************************/
header{
	display:flex;
	justify-content:center;
	align-items:center;
    height: 370px;
}
header headerP1Inf{
	display:flex;
	align-items: center;
	justify-content: center;
	width:40%;
}
header headerP2Inf{
	display:flex;
	align-items: center;
	justify-content: center;
	width:40%;
}
header headerTitle{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	width:20%;
	object-fit:contain;
}
.headerTitle img{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	object-fit:contain;
	width:20%;
}
/* header h1{
	color:red;
	font-size:48px;
	margin:0px 0px 40px 0px; /*上右下左*/
}
header p{
	color:white;
	font-size:36px;
} */

/****************************************
 * ナビ
 ****************************************/
nav{
	display:flex;
	justify-content:center;
	border:0.1px solid;
	border-color:#efefef;
	height:80px;
}
 nav img{
	justify-content:center;
	flex-direction: column;
	align-items: center;
	width:20%;
	object-fit:contain;
}
 nav li{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	width:10%;
	font-weight:bold;
}

/****************************************
 * メイン
 ****************************************/
main{
	display:flex;
	justify-content:center;
	flex-direction: column;
}
.main p{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
}

/****************************************
 * ABOUTセクション
 ****************************************/
.aboutSection{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.aboutSection p1{
	text-align:center;
	margin: 24px 0px 0px 0px; /*上右下左*/
}
.aboutSection p2{
	text-align:center;
	margin: 64px 0px 0px 0px; /*上右下左*/
}
.aboutSection p3{
	text-align:center;
	margin: 40px 0px 0px 0px; /*上右下左*/
}
.aboutSection a{
	text-align:center;
	font-size:24px;
	color:#ffd61a;
	font-weight:bold;
	margin: 120px 0px 0px 0px; /*上右下左*/
}
.aboutPhoto{
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 80px 0px 0px 0px; /*上右下左*/
}
.aboutPhoto img{
	object-fit:contain;
	width:100%;
}

/****************************************
 * COURSEセクション
 ****************************************/
 .courseSection{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courseSection a{
	font-size:24px;
	color:#222222;
	font-weight:bold;
	margin: 64px 0px 0px 0px; /*上右下左*/
}
 .courceOverview{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	margin: 64px 0px 0px 0px; /*上右下左*/
}

/* コースの概要 1-1 */
 .courceOverview_1-1{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;
}
.courceOverview_1-1 img{
	width:100%;
}

/* コースの概要 1-2 */
 .courceOverview_1-2{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;
	height:100%;
	background-color:gray;
}
.courceOverview_1-2Txt{
	margin: 0px 0px 0px 48px; /* 上右下左 */
}
.courceOverview_1-2Txt h2{
	size:24px;
	color:#222222;
	margin: 0px 0px 40px 0px; /* 上右下左 */
}


/* コースの概要 2-1 */
 .courceOverview_2-1{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;
}
.courceOverview_2-1Txt{
	margin: 0px 48px 0px 0px; /* 上右下左 */
}
.courceOverview_2-1Txt h2{
	size:24px;
	color:#222222;
	margin: 0px 0px 40px 0px; /* 上右下左 */
}


/* コースの概要 2-2 */
 .courceOverview_2-2{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;

}
.courceOverview_2-2 img{
	width:100%;
}

/* コースの概要 3-1 */
 .courceOverview_3-1{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;

}
.courceOverview_3-1 img{
	width:100%;
}

/* コースの概要 3-2 */
 .courceOverview_3-2{
	display:flex;
	align-items: center;
	justify-content: center;
	width:50%;

}
.courceOverview_3-2Txt{
	margin: 0px 0px 0px 48px; /* 上右下左 */
}
.courceOverview_3-2Txt h2{
	size:24px;
	color:#222222;
	margin: 0px 0px 40px 0px; /* 上右下左 */
}

/****************************************
 * NEWSセクション
 ****************************************/
.newsSection{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.newsSection a{
	font-size:24px;
	color:#ffd61a;
	font-weight:bold;
	margin: 64px 0px 0px 0px; /* 上右下左 */
}
.newsSection p1{
	margin: 0px 0px 64px 0px; /* 上右下左 */
}

/****************************************
 * NEWSアンカー
 ****************************************/
 .newsAnchor{
	display:flex;
	align-items: center;
	justify-content: center;
}
.newsAnchor a{
	font-size:24px;
	color:#ffd61a;
}

/****************************************
 * NEWSボックス
 ****************************************/
.newsBox{
	display:flex;
	align-items: center;
	justify-content: center;
	width:80%;
}
.newsBox1{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 16px;
}
.newsBox1Img{
	width:100%;
}
.newsMore{
	display:flex;
	align-items: center;
	justify-content: center;
}
.newsMoreBtn {
	/* display: inline-block; */
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ffd61a;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	height:60px;
	width:300px;
  }
.newsMoreBtn:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
	border-bottom: none;
  }

/****************************************
 * ACCESSセクション
 ****************************************/
.accessSection{
	background-color:#fafafa;
}



/****************************************
 * ACCESSアンカー
 ****************************************/
 .accessAnchor{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.accessAnchor a{
	font-size:24px;
	color:#222222;
}

/****************************************
 * ACCESSリスト
 ****************************************/
.accessLst{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.accessLstLow{
	display:flex;
	align-items: center;
	justify-content: center;
}
.accessLstCol1{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width:100px;
}
.accessLstCol2{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width:48px;
}
.accessLstCol3{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width: 500px;
}

/****************************************
 * CONTACTセクション
 ****************************************/
.contact{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/****************************************
 * CONTACTアンカー
 ****************************************/
 .contactAnchor{
	display:flex;
	align-items: center;
	justify-content: center;
}
.contactAnchor a{
	font-size:24px;
	color:#222222;
}

/****************************************
 * CONTACTテキスト
 ****************************************/
.contactTxt{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/****************************************
 * CONTACTリスト
 ****************************************/
 .contactLst{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contactLstLow{
	display:flex;
	align-items: center;
	justify-content: center;
}
.contactLstCol1{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width:100px;
}
.contactLstCol2{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width:120px;
}
.contactLstCol3{
	display:flex;
	align-items: center;
	justify-content:left;
	justify-items:left;
	width: 500px;
}

/****************************************
 * CONTACT送信
 ****************************************/
.contactSnd{
	display:flex;
	align-items: center;
	justify-content: center;
}
.contactSndBtn {
	/* display: inline-block; */
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ffd61a;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	height:54px;
	width:298px;
  }
.contactSndBtn:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
	border-bottom: none;
  }









/****************************************
 * フッター
 ****************************************/
footer{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color:#707070;
	font-size:18px;
	color:white;
}
footer p1{
	font-size:18px;
	color:white;
	margin: 32px 0px 32px 0px; /* 上右下左 */
}

/****************************************
 * heightスペーサー
 * TODO 本当は変数指定して柔軟に対応したい
 ****************************************/
.heightSpacer_24{
	display: flex;
	align-items: center;
	justify-content: center;
	height:24px;
}
.heightSpacer_32{
	display: flex;
	align-items: center;
	justify-content: center;
	height:32px;
}
.heightSpacer_40{
	display: flex;
	align-items: center;
	justify-content: center;
	height:40px;
}
.heightSpacer_56{
	display: flex;
	align-items: center;
	justify-content: center;
	height:56px;
}
.heightSpacer_64{
	display: flex;
	align-items: center;
	justify-content: center;
	height:64px;
}
.heightSpacer_80{
	display: flex;
	align-items: center;
	justify-content: center;
	height:80px;
}
.heightSpacer_120{
	display: flex;
	align-items: center;
	justify-content: center;
	height:120px;
}

/****************************************
 * widthスペーサー
 * TODO 本当は変数指定して柔軟に対応したい
 ****************************************/
.widthSpacer_40{
	display: flex;
	align-items: center;
	justify-content: center;
	width:40px;
}
.widthSpacer_48{
	display: flex;
	align-items: center;
	justify-content: center;
	width:48px;
}
.widthSpacer_120{
	display: flex;
	align-items: center;
	justify-content: center;
	width:48px;
}

